SDKROOT = iphoneos;
GCC_SYMBOLS_PRIVATE_EXTERN = YES; // symbols hidden by default
GCC_INLINES_ARE_PRIVATE_EXTERN = YES;
CLANG_CXX_LANGUAGE_STANDARD = gnu++11;
CLANG_CXX_LIBRARY = libc++;
IPHONEOS_DEPLOYMENT_TARGET = 9.0;
COMPRESS_PNG_FILES = NO;
ARCHS = $(ARCHS_STANDARD);
ALWAYS_SEARCH_USER_PATHS = NO;
GCC_C_LANGUAGE_STANDARD = gnu11;
STRINGS_FILE_OUTPUT_ENCODING = UTF-8;
ENABLE_BITCODE = NO;
DEBUG_INFORMATION_FORMAT = dwarf; // embedd debug info in the static libs
CLANG_ENABLE_CODE_COVERAGE = NO; // temp for now, until all unit tests for all april & friends are done
